<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include("partials/_header") %>
    <p> <%= longURL %>   <strong style="color:#03A9F4">===></strong>   <%= shortURL %> </p>
    <form action="/urls/<%=shortURL%>/update" method="POST">
      <input id="longURL" name="longURL" type="text" placeholder="<%= longURL %>" style="width: 300px">
      <input class="edit" type="submit" value="Update">
    </form>
    <form action ="/urls/<%=shortURL%>/delete" method="POST"><button class="delete">Delete</button></form>
    <button id="returnHome" class="edit"><a class="edit" href="/urls"</a>Return home</button>
</body>
</html>

